/* #1d1e21 */

::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: cyan;
  border-radius: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #1d1e21;
  font-family: "Staatliches";
  color: #ffffff;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

#root {

}

.App__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  height: 100vh;
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
  /* background-color: black; */
}

.header__title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  font-size: 3rem;
  min-width: 25rem;
}

.header__username__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  height: 7rem;
  max-width: 30rem;

}

.header__username__name {
  font-size: 3rem;
  /* background-color: orange; */
  margin-bottom: -.5rem;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 3px;
  padding: .25rem 1rem;
  background-color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header__username__name:hover {
  background-color: gray;
}

.header__username__change {

}

.header__username__input {

}

.header__username__cancel{

}

.header__username__ok {

}

.main {
  display: flex;
  flex: 1;
  text-align: center;
  background-color: #242529;
  border: 1px solid gray;
  width: 100%;
  height: calc(100% - 14rem);
}

.main__noChatroom {
  margin: auto;
}


.main__noChatroom__username {
  padding: 1rem;
}

.main__noChatroom__rooms {
  padding: 1rem;
}

.chatroomsNav {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed";
  font-size: 2.5rem;
  border-right: 1px solid gray;
  width: 25rem;
}

/* .chatroomsNav__chatroomsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 50%;
  overflow-y: auto;
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 1rem;
} */

.chatroomsNav__chatroomsList {
  overflow-y: auto;
  width: 100%;
  flex: 1;
}

.chatroomsList__header {
  /* background-color: green; */
  height: 4.5rem;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
}

.chatroomsList__content {
  overflow-y: auto;
  width: 100%;
}

.chatroomsList__item {
  position: relative;
  text-align: left;
  font-size: 1.9rem;
  padding: .25rem 1rem .25rem 2.25rem;
  width: 100%;
  /* overflow: hidden; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chatroomsList__item::before{
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  content: "";
  height: 1rem;
  width: 1rem;
  background: cyan;
  border-radius: 1rem;
  margin-left: .75rem;
}

.chatroomsList__item:hover {
  cursor: pointer;
  background-color:gray;
}

.chatroomsList__noItems {
 padding: 1rem;
}

.chatroomsNav__createChatroom {
  border-top: 1px solid gray;
  padding: 1rem;
}

.createChatroom__textInput {
}

.createChatroom__submit {

}

.createChatroom__form {
  display: flex;
  justify-content: space-around;
  margin-top: .5rem;
}

.chatroom {
  /* background-color: orange; */
  display: flex;
  flex: 1;
  width: calc(100% - 25rem);
}


.chatroom__chatWindow {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2d2e33;
  width: calc(100% - 20rem);
  border-right: 1px solid gray;
}

.chatWindow__header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* background-color: gray; */
  border-bottom: 1px solid gray;
  height: 4.5rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chatWindow__header-name {
  font-size: 3.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5rem;
  height: 4.5rem;
  overflow: hidden;
}


.chatWindow__header-leave {
  margin: 0;
  margin-right: .2rem;
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "Roboto";
  font-size: 3rem;
  height: 3.5rem;
  width: 3.5rem;
  border: 2px solid white;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chatWindow__header-leave span {
  color: cyan;
}

.chatWindow__header-leave span:hover {
  color: red;
}

.chatWindow__chatLog {
  /* background-color: green; */
  flex: 1;
  overflow-y: scroll;
  padding: 1rem;
  justify-content: flex-start;
  font-family: "Roboto Condensed";
  font-size: 1.9rem;
  width: 100%;
}

.chatLog__message{
 max-width: 100%;
 /* background-color: pink; */
 text-align: left;
 padding: .25rem;
 display: flex;
}

.chatLog__message-sender {
  font-weight: bold;
  color: gold;
  margin-right: 1rem;
  flex-shrink: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chatLog__message-content {
  overflow-wrap: anywhere;
}

.chatWindow__inputBar {
  background-color: white;
  width: 100%;
  height: 5rem;
  font-size: 2.5rem;
  border: none;
  padding: 0 1rem;
}

.chatLog__serverMessage {
  font-style:italic;
  width: 100%;
  /* background-color: orange; */
  text-align: left;
  padding: .25rem;
  color: grey;
  overflow-wrap: anywhere;
}

.chatroom__userList {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.userList__header {
  /* background-color: green; */
  height: 4.5rem;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
}

.userList__content {
  padding: .5rem 1rem .5rem .75rem;
  overflow-y: auto;
  width: 100%;
}

.userList__item {
  position: relative;
  text-align: left;
  font-size: 1.9rem;
  padding-left: 1.5rem;
  width: 100%;
  /* overflow: hidden; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userList__item::before{
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  content: "";
  height: 1rem;
  width: 1rem;
  background: green;
  border-radius: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  background-color: #1d1e21;
  font-size: 2rem;
  visibility: hidden;

}
/* default: #ffffff */

/*
  #242529; lighter
  #1f2023;
  #191a1d; darker

   #21242b; blue-tint
*/

/*
  hsl(187, 47%, 55%); // <-cyan
  hsl(207, 82%, 66%); // <-blue
  hsl(275, 60%, 47%); // <-purple
  hsl(95, 38%, 62%); // <-green

  hsl(355, 65%, 65%); // <-red 1
  hsl(5, 48%, 51%); // <-red 2

  hsl(29, 54%, 61%); // <-orange 1
  hsl(39, 67%, 69%); // <-orange 2
*/
